.navbar {
    background: #8193F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    position: sticky;
    top: 0;
    width: 100%;
    transition: .5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.fixed {
    position: fixed;
    top: -80px;
}

.navbar-nav .dropdown-menu {
    animation: fadeIn 0.5s;
    transition: .3s;
}

.navbar-nav li {
    transition: .5s;
}

.navbar-nav li:hover {
    transform: translateY(-3px);
}

.nav-item a {
    color: #fff !important;
}

/* .dropdown-menu {
    padding-left: 10px;
    padding-right: 10px;
} */

.dropdown-menu li a,
.dropdown-menu a {
    color: #333 !important;
    box-shadow: 0;
    border: 0;
    font-weight: normal;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-nav .dropdown:hover .dropdown-menu:nth-child(2),
.navbar-nav .dropdown:hover .dropdown-menu:nth-child(3) {
    display: block;
    opacity: 1;
    transform: translate(0, -5px);
}

.navbar-nav .dropdown:hover .nav-link {
    transform: translateY(-3px);
}

.dropdown-menu li:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translate(100%, 0);
}

.dropdown-menu li a,
.dropdown-menu a {
    color: #333 !important;
    font-weight: normal !important;
    box-shadow: none;
}

.dropdown-menu li a:hover,
.dropdown-menu a:hover {
    background-color: #8193F2;
    color: #fff !important;
    font-weight: normal;
    box-shadow: none;
}