/* 
====================





Mobile






====================
 */
@media screen and (max-width: 575px) {

  /* Navbar */
  .navbar {
    padding: 10px;
  }

  .navbar-nav {
    gap: 0;
    margin-top: 20px;
    padding: 20px;
  }

  .navbar-collapse {
    justify-content: start;
  }

  .dropdown {
    width: auto;
    max-width: calc(100vw - 30px);
  }

  .dropdown-menu {
    width: 100%;
    overflow: auto;
  }

  .dropdown-item {
    margin: 5px 0;
    white-space: normal;
    word-break: break-word;
  }

  /* Floating  */
  .floating-container {
    position: fixed;
    width: 80px;
    height: 100px;
    bottom: 0;
    right: 0;
    margin: 0 !important;
    z-index: 100000000000;
  }

  .floating-button {
    margin: 0 15px 10px 0;
  }

  .element-container {
    margin-bottom: 80px;
    transition: 0.5s;
  }

  .container-serti-item {
    padding: 10px;
  }

  /* Keunggulan & Layanan */
  .top-container {
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: center;
  }

  .content-body::before {
    content: "";
    width: 80%;
    height: 70%;
    position: absolute;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    transform: translateX(0) translateY(-10px);
    background: #8193f2;
    z-index: -1;
  }

  .left-container {
    height: auto;
    padding: 50px;
  }

  .right-container {
    height: auto;
    padding: 50px;
  }

  .right-container ul li {
    font-size: 12px;
  }

  .container-layanan {
    padding: 50px;
  }

  .content-layanan a {
    width: 100%;
    height: auto;
  }

  .content-layanan a ul img {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
  }

  .content-layanan {
    display: block;
  }

  .layanan-container {
    padding: 20px;
  }

  .content-layanan {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  /* Artikel */
  .container-artikel {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .artikel-card {
    border: 1px solid #8193f2;
  }

  .artikel-card #readmore {
    top: 0px;
    color: #8193f2;
    opacity: 1;
    animation: readmore 0.8s linear infinite;
  }

  /*  */
  .layanan-container-visi-misi {
    width: 100%;
    padding: 50px;
  }

  .page-desc-container-serti {
    padding-left: 0;
    padding-right: 0;
  }

  /* Serti */
  .right-container-serti {
    justify-content: center;
    align-items: center;
  }

  .top-container-serti span {
    font-size: 1.2em;
  }

  /* Sambutan */
  .watermark img {
    transform: scale(1);
  }

  /* Pesawat */
  .container-serti-item {
    justify-content: center;
    align-items: center;
  }

  .top-container-serti-item span {
    font-size: 1.2em;
  }

  .content-serti-item {
    padding: 0;
  }

  .content-serti-item img {
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .page-desc-container-serti #title {
    margin-top: 50px;
  }

  .body-page {
    padding: 40px;
  }

  /* Pengadaan */
  .container-pengadaan .col {
    width: 200px;
    margin-top: 50px;
  }

  /* Konsul */
  #img-viewer {
    background: #333;
  }

  /* Artikel */
  .card img {
    max-height: 200px;
  }
}

/* 
====================












====================
 */

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* 
====================





TABLET





====================
 */

@media screen and (min-width: 576px) and (max-width: 991px) {

  /* Navbar */
  .navbar-nav {
    gap: 0;
    margin-top: 20px;
  }

  /* Keunggulan & Layanan */
  .top-container {
    font-size: 1.5em;
  }

  .left-container {
    height: auto;
    padding: 50px;
  }

  .right-container {
    height: auto;
    padding: 50px;
  }

  .right-container ul li {
    font-size: 15px;
  }

  .container-layanan {
    padding: 50px;
  }

  .layanan-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-layanan a ul img {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
  }

  .body-layanan {
    padding: 20px;
  }

  /* Artikel */
  .container-artikel {
    padding-top: 20px;
    padding-bottom: 100px;
  }

  .artikel-card {
    border: 1px solid #8193f2;
  }

  .artikel-card #readmore {
    top: 0px;
    color: #8193f2;
    opacity: 1;
    animation: readmore 0.8s linear infinite;
  }

  /*  */
  .right-container-about img {
    width: 80%;
    height: 80%;
    object-fit: contain;
  }

  .visi-box span:nth-child(2),
  .misi-box span:nth-child(2) {
    font-size: 1.2em;
    font-weight: normal;
  }

  .layanan-container-visi-misi {
    width: 100%;
    border-radius: 100px 0 100px 0;
    color: #fff;
    padding: 40px;
  }

  /* Sambutan */
  .watermark img {
    transform: scale(2);
  }

  /* Pesawat */
  .page-desc-container-serti #title {
    margin-top: 50px;
  }

  .content-serti-item img {
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  /* Arikel */
  .card img {
    max-height: 200px;
  }
}

/* 
====================





DESKTOP





====================
 */
@media screen and (min-width: 992px) {

  /* Desktop */
  .navbar {
    padding-left: 100px;
  }

  .navbar-nav {
    display: flex;
    gap: 50px;
  }

  .navbar-collapse {
    display: flex;
    justify-content: center;
  }

  .overlay-content {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 80px;
  }

  .body-title {
    font-size: 2.5em;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 30px;
  }

  .contain-buttom {
    font-size: 15px;
    font-weight: 200;
    width: 500px;
  }

  /* Keunggulan & Layanan */
  .content-body {
    width: 500px;
    height: 350px;
  }

  .content-body::before {
    width: 500px;
    height: 350px;
  }

  .layanan-container {
    width: auto;
    padding: 50px;
  }

  .layanan-container span {
    font-size: 2em;
  }

  .top-container {
    padding-bottom: 100px;
  }

  /* Artikel */
  .artikel-header span:nth-child(1) {
    font-size: 2em;
  }

  .klien-header span:nth-child(1) {
    font-size: 2em;
  }

  .body-row-details {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
  }

  .body-row-details a {
    margin: 20px;
    text-align: center;
    color: #333;
    text-decoration: none;
    transition: 0.3s;
    width: auto;
    max-width: 300px;
  }

  .body-row-details a div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .body-row-details a div img {
    width: 50px;
  }

  /*  */
  .footer {
    font-size: 12px;
  }

  /*  */
  .body-about {
    padding: 50px;
  }

  .top-container-about span {
    font-size: 1.5em;
  }

  .right-container-about img {
    width: 80%;
    height: 80%;
    object-fit: contain;
  }

  .visi-box span:nth-child(2),
  .misi-box span:nth-child(2) {
    font-size: 1.2em;
    font-weight: normal;
  }

  /* Team */
  .body-team {
    padding: 50px;
  }

  .top-container-team {
    margin-bottom: 0;
  }

  .top-container-team span:nth-child(1) {
    padding: 2px 20px 2px 20px;
    font-size: 2em;
  }


  .container-team .col {
    margin-top: 50px;
    max-width: 500px;
    min-width: 500px;
  }

  .container-team .col .textBox span {
    font-size: 18px;
  }

  .container-team .col .textBox span:nth-child(1) {
    font-weight: 600;
    font-size: 1.5em;
  }

  /* Serti */
  .top-container-serti {
    padding: 10px 25px 10px 25px;
  }

  .left-container-serti {
    padding-left: 50px;
  }

  .serti-container-visi-misi {
    max-width: 90%;
    width: 400px;
  }

  /* Sambutan */
  .body-sambutan {
    padding: 50px;
  }

  .top-container-sambutan span {
    padding: 10px 25px 10px 25px;
    font-size: 1.5em;
  }

  .container-sambutan {
    font-size: 1.1em;
  }

  /* Pesawat */
  .top-container-serti-item {
    padding: 10px 25px 10px 25px;
  }

  .bottom-container-serti-item {
    padding-left: 50px;
    padding-right: 50px;
  }

  /* Pengadaan */
  .body-pengadaan {
    padding: 50px;
  }

  .top-container-pengadaan {
    margin-bottom: 0;
  }

  .top-container-pengadaan span:nth-child(1) {
    padding: 10px 25px 10px 25px;
    font-size: 1.5em;
  }

  .container-pengadaan .col {
    margin-top: 50px;
  }

  .container-pengadaan .col .textBox span:nth-child(1) {
    font-size: 1.2em;
  }

  .container-pengadaan .col .textBox {
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
  }

  /* Konsul */
  .body-konsultasi {
    padding: 50px;
  }

  .top-container-konsultasi {
    margin-bottom: 0;
  }

  .top-container-konsultasi span:nth-child(1) {
    padding: 10px 25px 10px 25px;
    font-size: 1.5em;
  }

  .container-konsultasi {
    padding-left: 50px;
    padding-right: 50px;
  }

  /* Klien */
  .body-klien {
    padding: 50px;
  }

  .top-container-klien {
    margin-bottom: 0;
  }

  .top-container-klien span:nth-child(1) {
    padding: 2px 20px 2px 20px;
    font-size: 2em;
  }

  .container-klien .col {
    margin-top: 20px;
  }

  /* Serti */
  .content-serti-visi-misi {
    padding-left: 30px;
    padding-right: 30px;
}
}

/* 
====================





> DESKTOP





====================
 */

@media screen and (min-width: 2000px) {
  .overlay-content {
    padding: 50px;
    text-align: start;
    color: white;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }

  .body-title {
    font-size: 3em;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  .contain-buttom {
    font-size: 1.2em;
  }
}