.body-serti {
    padding: 40px;
    background: #fff;
}

.top-container-serti {
    background: #8193F2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 15px 2px 15px;
    border-radius: 5px;
}

.top-container-serti span {
    font-size: 1.5em;
    font-weight: 600;
    color: #fff;
}

.left-container-serti {
    text-align: justify;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left-container-serti span:nth-child(2),
.left-container-serti span:nth-child(4) {
    font-weight: 600;
    font-size: 18px;
}

.right-container-serti {
    display: flex;
    justify-content: end;
    align-items: start;
}

/*  */
.serti-container-visi-misi {
    background: #8193F2;
    width: 90%;
    border-radius: 100px 0 100px 0;
    color: #fff;
    padding: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-serti-visi-misi {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 50px;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
}

.content-serti-visi-misi a {
    transition: .3s;
    color: #fff;
    text-decoration: none;
}

.content-serti-visi-misi a:hover {
    transform: translateY(-5px);
}

.box-title-serti {
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box-serti {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
}

.content-box-serti img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}
